<div class="container">
  <div class="banner">
    <h1>quouch</h1>
      <p>couchsurfing from a female & queer perspective</p>
  </div>

<div class="flex-container">
  <div class="forms">
    <div class="horny">
      <h1>Couch</h1>
      <h1>surfing</h1>
      <h2>without the annoying risk</h2>
      <h2>of again ending up at a </h2>
      <h3>lonely horny weird guys home</h3>
      <h1>can be wonderful.</h1>
      <br>
    </div>
  </div>

  <div class="triangle2">
  </div>


    <div class="trust">
      <h1>Couch</h1>
      <h1>surfing</h1>
      <h2>without the annoying risk</h2>
      <h2>of again ending up at a </h2>
      <h3>lonely horny weird guys home</h3>
      <h1>can be wonderful.</h1>
      <br>
    </div>

  <div class="mission">
    <h1>Couch</h1>
    <h1>surfing</h1>
    <h2>without the annoying risk</h2>
    <h2>of again ending up at a </h2>
    <h3>lonely horny weird guys home</h3>
    <h1>can be wonderful.</h1>
    <br>
  </div>

 </div>
</div>


<div class="flex-container">
  <div class="about-img2">
    <div class="container center" id="signup">
      <div class="sign-up">
       <%= form_for @user_signup do |f| %>
      <% if @user_signup.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user_signup.errors.count, "error") %> prohibited your registration from being completed:</h2>
          <ul>
          <% @user_signup.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
           </div>
      <% end %>
      </div>
      <div class="card">
           <div class="field">
              <%= f.label :email %><br>
              <%= f.text_field :email %>
            </div>
            <div class="actions">
              <input type="submit" name="commit" value="Sign Up" data-disable-with="Create User signup">
             <!--  <%= f.submit %> -->
            </div>
          <% end %>
      </div>
     </div>
  </div>
</div>


  <footer class="footer">
    <div class="container">
      <p>©Quouch 2021</p>
    </div>
  </footer>
