<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Quouchlanding</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
 <div class="navbar3">
      <div class="container flex">
        <!-- <h1 id="logo">Quouch</h1> -->
        <nav>
          <ul>
            <!-- <li><a href="home">Home</a></li> -->
            <li><a href="home">Home</a></li>
            <li><a href="vision">Vision</a></li>
            <li><a href="team">Team</a></li>
          </ul>
        </nav>
      </div>
    </div>


    <%= yield %>
    <div class=" footer bg-dark grid1 grid1-3">
      <div class="container list-items">
        <ul>
          <li class="list-item"><a href="impressum">Impressum & Datenschutz</a></li>
          <li class="list-item"><a href="kontakt">Kontakt </a></li>
          <li class="list-item"><p> &copy; quouch 2021</p></li>
        </ul>

     </div>
<div data-tf-sidetab="yq5olk0a" data-tf-button-color="purple" data-tf-button-text="Contact us" ></div><script src="//embed.typeform.com/next/embed.js"></script>

    <!--   <div class="social">
        <a href="#"><i class="fab fa- fa-2x"></i></a>
        <a href="#"><i class="fab fa-github fa-2x"></i></a>
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
      </div> -->

    </div>
  </body>
</html>

